.gradient-box {
  height: 3px;
  width: 100%;

  /* // background-image: linear-gradient(to right, #5afe04, BLACK); */
  background-image: linear-gradient(
    90deg,
    #64e51f 0%,
    #44cc00 19%,
    #15b300 28%,
    #009900 35%,
    #008000 42%,
    #006b00 49%,
    #005200 56%,
    #003d00 64%,
    #002900 75%,
    #000000 100%
  );
}

.link-to-home {
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.link-to-home:hover {
  background-color: #e3e5e7;
}

.nav-bar-container {
  top: 0px;
  width: 100%;
  background-color: #f8f9f9;
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.05),
    0 2px 8px rgba(0, 0, 0, 0.05);
}

.nav-items {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 47px;
  /* max-width: 1297px; */
  max-width: 1250px;
  width: 100%;
  /* // gap: 16px;
  // margin-left: 50px;
  // margin-right: 50px; */
}

.search {
  padding-left: 16px;
  /* padding-right: 8px; */
  display: flex;
  align-items: center;
  width: 90%;
  /* margin-right: -50px; */
}

.search img {
  position: absolute;
  height: 18px;
  margin-left: 8px;
  opacity: 0.25;
}

.search-input {
  padding-left: 32px;
}

.session-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-right: 80px;
  /* width: 170px; */
  margin-left: 3px;
}

.login-button {
  box-shadow: inset 0px 1px 0px 0px white;
  width: 60px;
  height: 33px;
  background-color: rgb(235, 235, 235);
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  margin-left: 8px;
  padding-bottom: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 18px;
}
.login-button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.signup-button {
  box-shadow: inset 0px 1px 0px 0px rgb(122, 122, 123);
  width: 69px;
  height: 33.45px;
  background-color: #272728;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  padding-bottom: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* margin-right: 27px; */
}
.signup-button:hover {
  background-color: black;
  cursor: pointer;
}

.search {
  width: 100%;
  padding-right: 2px;
}

.search-input {
  width: 100%;
  height: 28.5px;
  font-size: 13px;
  color: #3b4045;
  border: 1px solid transparent;
  border-color: #babfc4;
  border-radius: 3px;
}

.search-input:focus {
  border-color: #62e51d;
  outline: 1px solid transparent;
  box-shadow: 0px 0px 3px 3px #62e51d66;
}

::placeholder {
  opacity: 0.5;
  font-size: 13px;
}

.greeting-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 37px;
  padding-right: 8px;
  width: 170px;
  margin-right: 52px;
  margin-left: 4px;
}

.my-profile-container {
  position: relative;
  width: 86.5px;
  height: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  border-radius: 1000px;
  margin-left: -10px;
}
.my-profile-container:hover {
  cursor: pointer;
  background-color: #e3e5e7;
}

.my-profile-link {
  font-size: 13px;
  color: black;
  text-decoration: none;
}
