.sidebar {
  margin-right: 941px;
  position:fixed;
  // z-index:100;
  top: 47px;
  flex-shrink: 0;
  height: 100vh;
  width: auto;
  min-width: 164px;
  // max-width: 600px;
  box-shadow: 0 0 0 hsla(210, 8%, 5%, 5%);
  border-right: 1px solid #D6D9DC;
  box-sizing: border-box;
  // float:right;
  background-color:#F8F9F9;
  width:164px;
}


.sidebar .home {
  font-size: 14px;
  text-decoration: none;
  color: #525960;
  margin-top: 24px;
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  font-size: 13px;
  padding-left: 8px;
}
.sidebar .home:hover{
  cursor:pointer;
  color: black;
}

.public {
  margin-top:18px;
  color: #6A737C;
  font-size: 11px;
  padding-left: 8px;
  margin-bottom: 4px;
}

.public-links-container {
  display: flex;
  flex-direction: column;
}

.sidebar-questions-link, .sidebar-users-link {
  height: 33px;
  font-size: 13px;
  text-decoration: none;
  color: #525960;
  display: flex;
  flex-direction: row;
  align-items:  center;
  padding-left: 8px;
  padding-right: 6px;
}
.sidebar-questions-link, .sidebar-users-link:hover{
  color: black;
  cursor: pointer;
}

.sidebar-questions-link img{
  opacity: 60%;
}

.sidebar-users-link {
  padding-left: 36px;
}

.overclone-for-teams{
  margin-top: 16px;
  font-size: 13px;
  width: 138px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #d6d9dc;
  border-top: 1px solid #d6d9dc;
  border-bottom: 1px solid #d6d9dc;
  align-items: center;
  padding: 12px 12px 6px 12px;
  text-decoration: none;
}

.make-bold {
  color: #2f3337;
  font-weight: 700;
}

.grey-this{
  color: #525960;
}

.overclone-for-teams img {
  margin: 8px 0 8px 0;
}

.link-to-msteams {
  box-shadow: inset 0px 1px 0px 0px rgb(122, 122, 123);
  width: 139px;
  height: 27.78px;
  background-color: #272728;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  text-align:center;
  display:flex;
  align-items: center;
  justify-content: center;
}
.link-to-msteams:hover {
  background-color: black;
  cursor: pointer;
}

.overclone-for-teams a:visited{
    background-color: #272728;
}

.whatisteams{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  color: #6a737c;
  padding: 6.6px;
  border: 1px solid transparent;
}

.whatisteamslink{
    font-size: 11px;
  color: #6a737c;
}


.sidebar-current-page{
  background-color: rgb(241,242,243);
  border-right: 3px solid rgb(98,229,29);
  color: black;
  opacity: 1;
}
.sidebar-current-page img{
  opacity: 1;
}

