.question-index {
  background-color: white;
  // max-width: 1200px;
  width: 100%;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 1px;
  border-right-width: 1px;
  padding-top: 24px;
  box-sizing: border-box;
  border-right: 1px solid rgb(214,217,220);
  border-left: 1px solid rgb(214,217,220);
}

.question-index-wrapper{
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.question-index-heading {
  display: flex;
  flex-direction: row;
  font-size: 27px;
  color: #232629;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 27px;
  padding-left: 24px;
  padding-right: 24px;
}

.ask-question {
  box-shadow: inset 0px 1px 0px 0px rgb(122, 122, 123);
  width: 103px;
  height: 37.78px;
  background-color: #272728;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
}
.ask-question:hover {
  background-color: black;
  cursor: pointer;
}

.question-index h2 {
  font-size: 17px;
  color: #232629;
  margin-bottom: 14px;
  width: 100%;
  padding-left: 24px;
}

// question index items styling:
.question-index-item:last-of-type {
  border-top: 1px solid #d6d9dc;
}

.question-index-item {
  border-bottom: 1px solid #d6d9dc;
  padding: 17px 0px;
  padding-right: 15px;
  padding-left: 8px;
  display: flex;
  flex-direction: row;
  // padding-top: 17px;
  // padding-left: 24px;
}

.question-index-item-counts{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100px;
  font-size: 13px;
  margin-right:16px;
  margin-top: 2.5px;
  gap: 8px;
}

.qi-score {
  color: #0c0d0e;
  font-size: 13px;
}

.qi-answers-nonzero{
  color: rgb(98,229,29);
  border: 1px solid rgb(98,229,29);
  padding: 2px 4px;
  border-radius: 3px;
}

.qi-answers-zero{
  color: #6a737c;
  font-size: 13px;
  margin-top: 2.3px;
}

.question-index-item-main-container{
  width: 100%;
}


.questionindex-title-wrapper {
  margin-bottom: 6px;
}

.questionindex-item-title {
  font-size: 17px;
  color: #0c0d0e;
  // color: #62E51D;
  text-decoration: none;
}
.questionindex-item-title:hover{
  cursor: pointer;
  color: black;
}

.questionindex-item-body {
  font-size: 13px;
  margin-bottom: 8px;
  color: #3b4045;
  line-height: 18px;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.questionindex-item-details {
  margin-top: 4px;
  font-size: 12px;
  color: #6a737c;
  text-align: end;
}

.questionindex-item-asker-link{
  text-decoration: none;
  color:rgb(98,229,29);
}
