.question-show-container{
  
  background-color: white;
  max-width: 777px;
  width: calc(100% - 164px);
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 1px;
  border-right-width: 1px;
  // padding-top: 24px;
  box-sizing: border-box;
  border-right: 1px solid rgb(214,217,220);
  border-left: 1px solid rgb(214,217,220);
  padding: 24px 24px 24px 24px;
}

  .question-show-heading {
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
    // padding-left: 24px;
    // padding-right: 24px;
    font-size: 27px;
    text-decoration: none;
    // border-bottom: 1px solid #E3E6E8;
  }

  .question-show-first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
  }

  .question-show-title {
    text-decoration:none;
    color: #3b4045;
    font-size: 27px;
    line-height: 36px;
  }

  .question-show-details{
    display:flex;
    flex-direction: row;
    font-size: 13px;
  }

  .question-show-details-key{
    color: #6a737c;
  }

  .question-show-details-value{
    margin-right: 16px;
    color: #232629;
  }

  .question-show-body-container{
    padding-top: 16px;
    border-top: 1px solid #E3E6E8;
    display: flex;
    flex-direction: row;
  }

  .question-show-body-left{
    margin-top: 9px;
    padding-right: 16px;
    width: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    margin-left: 1px;
  }

  .uparrow{
	width: 0;
	height: 0;
	border-width: 0 16px 16px 16px;
	border-color: transparent transparent #BABFC4 transparent;
	border-style: solid;
  }
  .uparrow:hover{
    cursor: pointer;
  }

  .downarrow{
	width: 0;
	height: 0;
	border-width: 0 16px 16px 16px;
	border-color: transparent transparent #BABFC4 transparent;
	border-style: solid;
	transform: rotate(180deg);
  }
  .downarrow:hover{
    cursor: pointer;
  }

  // .question-show-body-left button {
  //   background: none;
  //   border: none;
  // }

  .question-show-body-left h1{
    font-size: 21px;
    color: #6a737c;
  }

  .question-show-body-right{
    width: 100%;
  }

  .question-show-body {
    display: flex;
    flex-direction: row;
  }

  .question-show-body-text{
    color: #232629;
    font-size: 15px;
    line-height: 20px;
    white-space: pre-wrap;
  }

  .question-show-sub-body{
    margin-top: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }



  .question-show-options{
    // width: 200px;
    padding-top: 4px;
    font-size: 13px;
    color:#838c95;
    margin-left: 4px;
  }

  .question-show-options button{
    background:none;
    border: 1px solid transparent;
    border: none;
    color:#838c95;
    padding-left: 0px;
    padding-right: 10px;
    font-size: 13px;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Liberation Sans",sans-serif;
  }
  .question-show-options button:hover{
    cursor:pointer;
    color: black;
  }

  .question-show-options a{
    color:#838c95;
    font-weight: 400;
    padding-right: 10px;
    font-size: 13px;
    // width: 187px;
  }

  .question-show-options a:hover{
    cursor:pointer;
    color: black;
  }

  .question-show-delete-button{
    background:none;
    border: 1px solid transparent;
    border: none;
    font-size: 13px;
    color:#838c95;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Liberation Sans",sans-serif;
  }
  .question-show-delete-button:hover{
    cursor:pointer;
  }

  .asker-details{
    line-height: 16px;
    background-color: #caf6b2;
    padding: 5px 6px 7px 7px;
    border-radius: 3px;
  }

  .asker-details h1{
    font-size: 12px;
    color: #6a737c;
  }

  .asker-details a{
    font-size: 13px;
    color: #62E51D;
  }
  

.question-answers-wrapper {
  padding-top: 30px;
}

.question-answers-wrapper h1{
  font-size: 19px;
  color: #232629;
  margin-bottom: 16px;
}

.answer-body {
  padding-top: 16px;
  font-size: 15px;
  color: #232629;
  line-height: 20px;
  white-space: pre-wrap;
}

.answer-sub-body {
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 16px;
  border-bottom: 1px solid #E3E6E8;
}

.answer-details{
  line-height: 16px;
  padding: 5px 6px 7px 7px;
  border-radius: 3px;
  // height: 54.688px;
}

.answer-timestamp{
  font-size: 12px;
  line-height: 16px;
  color: #6a737c;
}

.answer-details a{
  font-size: 13px;
  color: #62E51D;
}