.homepage-container {
	position: relative;
	z-index: 25;

	max-width: 1297+96px;
	min-width: 1000px;
	width: 100%;
	padding: 48px;
}

.speechcards {
	width: 100%;
	min-width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: 18px;
}

.left-hook {
	background-color: #AFF18C;

	border-bottom-left-radius: 13%;
	width: 70px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
}


.right-hook {	
	background-color: #EBEBEB;
	border-bottom-left-radius: 10px;
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0;
	right:250px;
	z-index: -10;
	padding-top: 15px;
}

.ldwl{
	border-top-left-radius: 13%;
	border-top-right-radius: 13%;
	background-color: #62E51D;
	border-bottom-left-radius: 13%;
	width: 42px;
	height: 42px;
	position:absolute;
	top: 309px;
	left: 100px;
	z-index: 10;
}

.ldwr {
	border-top-right-radius: 13%;
	border-bottom-right-radius: 13%;
	background-color: #62E51D;
	border-bottom-left-radius: 13%;
	width: 42px;
	height: 42px;
	position:absolute;
	top: 309+42px;
	left: 72+45+25px;
	z-index: 10;
	opacity: 30%;
}


.rdwl{
	border-top-left-radius: 13%;
	border-top-right-radius: 13%;
	background-color: #272728;
	border-bottom-left-radius: 13%;
	width: 80px;
	height: 80px;
	position:absolute;
	top: 409px;
	right: 75px;
	z-index: 10;
}

.rdwr {
	border-top-right-radius: 13%;
	border-bottom-right-radius: 13%;
	background-color: #272728;
	border-bottom-left-radius: 13%;
	width: 80px;
	height: 80px;
	position:absolute;
	top: 409 + 80px;
	right: -5px;
	z-index: 10;
	opacity: 30%;
}

.homepage-main {
	max-width: 1950px;

    margin-left: auto;
    margin-right: auto;
	border-radius: 7px;
	background-image: linear-gradient(to bottom, #23262A, #474d53);
	padding: 32px;
	color: white;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	padding-bottom: 100px;
}
.info-cards {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
}
.info-cards__left {
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	width: 394px;
	padding: 24px;

	background-color:  #d1f7bd ;
	margin-right: 16px;
}

.info-cards__left p {
	font-family: 'Source Sans Pro';
	font-weight: 400;
	font-size: 19px;
	color: #232629;
	width: 316px;
	line-height: 25px;
	text-align: center;
	margin-bottom: 19px;
	margin-left: 39px;
	margin-right: 39px;
}

.info-cards__left img {
	margin-bottom: 16px;
}

.info-cards__left button {
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 500;
	width: 210.66px;
	height: 43.3px;
	border: 1px solid transparent;
	border-radius: 5px;
	font-size: 15px;
	background-color:#62e51d;
	color: white;
}
.info-cards__left button:hover{
	cursor:pointer;
	background-color: #52c416 ;
}


.speech-bubbles{
	display:flex;
	flex-direction: row;
	justify-content: center;
}

.speechbubble-left {
	position: relative;
	top: -4px;
	right: 16px;
	width: 32px;
	height: 32px;
	clip-path: polygon(18px 0, 32px 0, 0 40px, 0 38px, 0 0, 18px 0);
	border-radius: 0 5px 0;

	background-color:  #d1f7bd ;
	transform: scaleX(-1);

}

.speechbubble-right {
	position: relative;
	top: -4px;
	left: 16px;
	width: 32px;
	height: 32px;
	clip-path: polygon(18px 0, 32px 0, 0 40px, 0 38px, 0 0, 18px 0);
	border-radius: 0 5px 0;
	background-color: #dadada;

}

.info-cards__right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	padding: 24px 24px;
	width: 394px;
	border-radius: 5px;
	background-color: #dadada;
	margin-left: 16px;
	padding-top: 27px;
}

.saturn {
	margin-bottom: 16px;
}

.info-cards__right p {
	font-family: 'Source Sans Pro',sans-serif;

	font-size: 19px;
	color: #232629;
	width: 316px;
	line-height: 25px;

	text-align: center;
	margin-bottom: 19px;
	margin-left: 39px;
	margin-right: 39px;
	margin-top: 1px;
}


.personal-links{
	display: flex;
	flex-direction: row;
	gap:32px;
	font-size: 15px;
	color: white;
	background-color: #272728;
	padding: 12px 36px;
	border-radius: 5px;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 400;
}
.personal-links i{
	color: white;
}
.personal-links i:hover{
	cursor:pointer;
	color:#858585;
}

.linkedin-home{
	padding-right:2px;
}



.info-cards__right a{
	text-decoration: none;
	color: white;
}

.info-cards__right button {
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 700;
	width: 210.66px;
	height: 43.3px;
	border: 1px solid transparent;
	border-radius: 5px;
	font-size: 18px;
	background-color:#272728;
	color: white;


	margin: 25px 0px;
}

.welcome-text-container {
	margin-top: 48px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 55px;
	line-height: 72px;
	font-family: 'Roboto Slab';
	font-weight: 600;

}
.welcome-text-container span{
	color:#62e51d;
}
.welcomebottom{
	margin-bottom: 62px;
}

.dash-thing{
width: 64px;
    height: 8px;
    background-color: #6a737c;
    border-radius: 1000px;
    margin-bottom: 16px;
}

.static-container{
	margin-top: 27px;
	width: 948px;
	display:flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 16px;
}

.static-container-el {
		width: 231px;

		padding-bottom: 128px;
		display:flex;
		flex-direction: column;
		align-items: center;

}

.static-container-el h4{
	color:#f8f9f9;
	font-family: 'Roboto Slab';
	font-weight: 500;
	font-size: 24px;
	text-align: center;
	margin-bottom: 8px;
}

.static-container-el p {
	text-align: center;
	font-size: 15px;
	color: #9fa6ad;
	font-family: 'Source Sans Pro';
	line-height: 20px;
	padding: 0 24px;
}


.textlines-art {
	position: absolute;
	display: flex;
	flex-direction: column;
	z-index: 25;
	left: 45px;
	top: 520px;
}

.join-tl{
	display: flex;
	flex-direction: row;
	gap: 8px;
}
.textline1{
	height: 7px;
	width: 80px;
	background-color: #62e51d;
	opacity: 15%;
	border-radius: 2px;
	margin-bottom: 10px;
}

.textline2{
	height: 7px;
	width: 25px;
	background-color: #62e51d;
	opacity: 15%;
	border-radius: 2px;
	margin-bottom: 10px;
}


.textline3{
	height: 7px;
	width: 130px;
	background-color: #62e51d;
	opacity: 15%;
	border-radius: 2px;
	margin-bottom: 10px;
}

.textline4{
	height: 7px;
	width: 42px;
	background-color: #62e51d;
	opacity: 15%;
	border-radius: 2px;
	margin-bottom: 10px;
}

.textline5{
	height: 7px;
	width: 115px;
	background-color: #62e51d;
	opacity: 15%;
	border-radius: 2px;
	margin-bottom: 10px;
}

.textlines-art-2{
	position: absolute;
	display: flex;
	flex-direction: column;
	z-index: 11;
	right: 170px;
	top: 40px;
}

.rtextline1{
	height: 7px;
	width: 80px;
	background-color: white;
	opacity: 10%;
	border-radius: 2px;
	margin-bottom: 10px;
}

.rtextline2{
	height: 7px;
	width: 25px;
	background-color: white;
	opacity: 10%;
	border-radius: 2px;
	margin-bottom: 10px;
}


.rtextline3{
	height: 7px;
	width: 130px;
	background-color: white;
	opacity: 10%;
	border-radius: 2px;
	margin-bottom: 10px;
}

.rtextline4{
	height: 7px;
	width: 42px;
	background-color: white;
	opacity: 10%;
	border-radius: 2px;
	margin-bottom: 10px;
}

.rtextline5{
	height: 7px;
	width: 115px;
	background-color: white;
	opacity: 10%;
	border-radius: 2px;
	margin-bottom: 10px;
}




.bottom-cards{
	z-index:12;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
  margin-top: -161px;
}



.negative-curve{
    z-index: 2;
    background-color: #F7F8F8;
    position: absolute;
    bottom: 210px;
    width: 1513px;
    height: 260px;
    border-radius: 50%;
    margin-bottom: 359px;
    left: -12px;
}

.p-links-buttons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:16px;
}

.top-row {
	display: flex;
	flex-direction: row;
}

.current-role {
	margin-left: 16px;
	margin-right: 16px;
	opacity: 0;
	animation: fade-in-animation 700ms ease-out forwards;
}

@keyframes fade-in-animation {
	from {
		opacity: 0;
		transform: translateY(-32px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
