.user-show-container {
  background-color: white;
  width: 777px;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 1px;
  border-right-width: 1px;
  padding-top: 24px;
  box-sizing: border-box;
  border-right: 1px solid #d6d9dc;
}