.user-show-container {
  background-color: white;
  width: 777px;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 1px;
  border-right-width: 1px;
  padding-top: 24px;
  box-sizing: border-box;
  border-right: 1px solid #d6d9dc;
  border-left: 1px solid #d6d9dc;
}

.user-show-username{
  display: flex;
  flex-direction: row;
  font-size: 27px;
  color: #232629;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
}

.user-show-id {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  color: #232629;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
}