.bottom-card-left{
	width: 520px;
	height: 752x;
	margin: 0px 16px 16px 16px;
	border-radius: 7px;
  background-image: linear-gradient(
    0deg,
    #d0f7bb 0%,
    #d6f7c4 32%,
    #dcf9cd 43%,
    #dffad1 52%,
    #e6fbda 58%,
    #ecfce3 64%,
    #f0fce8 69%,
    #f6fdf1 75%,
    #f9fef6 82%,
    #ffffff 100%
  );

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 12px 11px #0000000a,
  0 100px 80px #00000012;

  padding: 48px 0px;
}

.react-logo{
    height: 120px;
    padding-bottom: 2px;
}

.redux-logo{
height: 115px;

padding-bottom: 5px;
}

.ruby-logo{
    height: 99px;
    padding: 10px;
    padding-top: 11px;
}

.postgres-logo{
    height: 114px;
    padding-top: 5px;
}

/* .bottom-card-left span{
  font-size: 40px;
  font-family: 'Roboto Slab';
  font-weight: 600;
  color: black;
} */



.bottom-so-logo{
  height: 37px;
}

.bottom-globe{
  height: 346px;
  padding: 32px 0px;
}



.bottom-card-right{
	width: 520px;
  height: 752px;
	margin: 0px 16px 16px 16px;
	border-radius: 7px;
  padding: 48px 0px;

background-image: linear-gradient(
  0deg,
  #d9d9d9 0%,
  #dedede 32%,
  #e3e3e3 43%,
  #e6e6e6 52%,
  #ebebeb 58%,
  #ededed 64%,
  #f2f2f2 69%,
  #f7f7f7 75%,
  #fafafa 82%,
  #ffffff 100%
);
display: flex;
flex-direction: column;
align-items: center;
/* justify-content: center; */

  box-shadow: 0 12px 11px #0000000a,
  0 100px 80px #00000012;
}


.bottom-so-forteams{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.forteams_text{
  font-size: 24px;
  font-weight: 700;
  font-family: 'Source Sans Pro';
  color:#23262A;
}

.forteams_div{
  font-size: 24px;
  color: #BDBDBD;
  font-weight: 100;
}

.img-forteams {
  height: 37px;
}

.bottom-org{
  height: 346px;
  padding: 32px 0px;
}

.bottom-card-right h1{
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 27px;
  margin: 0px 48px 12px 48px;
  text-align: center;
  line-height: 35px;
  color: #232629;
}

.bottom-card-left h1{
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 27px;
  margin: 0px 48px 12px 48px;
  text-align: center;
  line-height: 35px;
  color: #232629;
}


.bottom-card-left h2{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 19px;
    margin: 0px 48px 32px 48px;
    text-align: center;
    line-height: 25px;
    color: #232629;
}

.bottom-card-right h2{
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 19px;
  margin: 0px 48px 32px 48px;
  text-align: center;
  line-height: 25px;
  color: #232629;
}

.getstarted{
  display:flex;
  flex-direction: row;
  align-items: center;
    margin-bottom: 12px;
}

.getstarted span{
  font-size: 13px;
  color: #525960;
  margin: 0px 12px;
}

.getstartedline{
  background-color:none;
  border-bottom: 1px solid #272728;
  width: 64px;
}

.bottom-card-right-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.for-large-org{
  height: 44px;
  background-color: #272728;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  font-family: "Source Sans Pro";
  font-size: 15px;
  width: 190px;
  margin-right: 8px;
}
.for-large-org:hover{
  background-color:black;
  cursor:pointer;
}

.for-small-teams{
  height: 44px;
  background-color: #272728;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  font-family: "Source Sans Pro";
  font-size: 15px;
  width: 144px;
}
.for-small-teams:hover{
    background-color: black;
    cursor: pointer;
}

.joincomm-button{
    height: 44px;
    width: 210px;
  background-color:#62e51d;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    font-family: "Source Sans Pro";
    font-size: 15px;
padding: 12px 32px;
}
.joincomm-button:hover {
  cursor: pointer;
  background-color: #52c416;
}

.bottom-card-left h3{
  margin-top: 12px;
  color: #838c95;
  font-size: 13px;
}

.bottom-card-left a{
  color: #838c95;
  text-decoration:underline;
  font-size: 13px;
}
.bottom-card-left a:hover{
  cursor:pointer;
  color: #62e51d;
}


